// frontend/src/styles/components/_buttons.scss

@use "sass:color";
@use "../abstracts/variables" as vars;

.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 400px;
  width: 100%;

  // Primary button styles
  &--primary {
    background-color: vars.$primary-color;
    color: vars.$white-color;
    border: none;

    // Hover state for primary button
    &:hover {
      background-color: color.adjust(vars.$primary-color, $lightness: -10%);
    }

    // Disabled state
    &:disabled {
      background-color: color.adjust(vars.$primary-color, $lightness: 30%);
      cursor: not-allowed;
    }
  }

  // Secondary button styles
  &--secondary {
    background-color: vars.$secondary-color;
    color: vars.$white-color;
    border: none;

    &:hover {
      background-color: color.adjust(vars.$secondary-color, $lightness: -10%);
    }

    &:disabled {
      background-color: color.adjust(vars.$secondary-color, $lightness: 30%);
      cursor: not-allowed;
    }
  }

  // Google button styles
  &--google {
    background-color: #db4437;
    color: vars.$white-color;
    border: none;

    &:hover {
      background-color: color.adjust(#db4437, $lightness: -10%);
    }

    &:disabled {
      background-color: color.adjust(#db4437, $lightness: 30%);
      cursor: not-allowed;
    }
  }

  // Apple button styles
  &--apple {
    background-color: #000;
    color: vars.$white-color;
    border: none;

    &:hover {
      background-color: color.adjust(#000, $lightness: -10%);
    }

    &:disabled {
      background-color: color.adjust(#000, $lightness: 30%);
      cursor: not-allowed;
    }
  }

  // Icon button styles
  &--icon {
    background-color: transparent;
    border: none;
    padding: 5px;

    &:hover {
      background-color: vars.$icon-color-hover;
    }

    &:disabled {
      background-color: transparent;
      cursor: not-allowed;
    }
  }

  // Danger button styles
  &--danger {
    background-color: vars.$danger-color;
    color: vars.$white-color;
    border: none;

    &:hover {
      background-color: color.adjust(vars.$danger-color, $lightness: -10%);
    }

    &:disabled {
      background-color: color.adjust(vars.$danger-color, $lightness: 30%);
      cursor: not-allowed;
    }
  }

  // Icon inside button
  &__icon {
    margin-right: 5px;
  }
}
